$splash-border-size: $unit * 2;
$splash-extra-height: 0vh;

@keyframes anim-splash-logo-fade-in {
    0% { opacity: 0; transform: translate(0%, 20%); }
    100% { opacity: 1; transform: translate(0%, 0%); }
}
@keyframes anim-splash-nav-fade-in {
    0% { opacity: 0; transform: translateY(20px);}
    100% { opacity: 1; transform: translateY(0%); }
}
@keyframes anim-splash-desc-fade-in {
    0% { opacity: 0; transform: translateY(20px);}
    100% { opacity: 0.3; transform: translateY(0%); }
}
@keyframes anim-splash-about-fade-in {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0%); }
}

@keyframes anim-splash-center-nav-fade-in {
    0% { opacity: 0; transform: translateY(-100%); }
    100% { opacity: 1; transform: translateY(0%); }
}

@keyframes anim-splash-center-bar-fade-in {
    0% { opacity: 0; transform: translate(-50%, 0) scaleX(0); }
    50% { opacity: 1; transform: translate(-50%, 0) scaleX(1); }
    75% { opacity: 1; }
    100% { opacity: 0.9; transform: translate(-50%, 0) scaleX(1); }
}

// Paragraph text style:
//   font-family: 'Fira Sans';
//   letter-spacing: -0.02em;
//   font-size: 20px;
//   line-height: 1.5;


.template-splash {
    position: relative;
    overflow: hidden;

    height: 100vh + $splash-extra-height;
    color: $color-white;
    // background-color: #FBAB7E;
    // background-image: linear-gradient(12deg,#ffebbe,#ffffff);
    // background-image: linear-gradient(12deg, $color-black, lighten($color-black, 4));

    background: center center no-repeat;
    background-size: cover;
    // background-image: url('../assets/bg-test.jpg');
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 30%);
    }

    // Armageddon
    // linear-gradient(12deg,rgba(142, 6, 6, 0.7), rgba(255, 218, 112, 0.41) 65%, rgba(53, 0, 0, 0.75)), radial-gradient(circle at 50% 30%,#ffffff, #ffe000, #350000)
    // filter: brightness(0.1) drop-shadow(0px -5px 0px #f30);
    
    // background-image: linear-gradient(12deg,#c6d5e2,#ecfcff);
    // linear-gradient(12deg,#ff8e4c,#f3e12f)

    .center-content {
        position: absolute;
        top: 53%;
        left: 58%;
        transform: translate(-50%, -50%);
        font-family: "Frygia", sans-serif;
        text-align: right;

        a {
            text-decoration: none;
        }

        @media (max-width: 600px) {
            top: 49%;
            left: 58%;
            padding-left: 10px;
        }

        .nav-animate-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            overflow: hidden;
            
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0) scaleX(0);
                // background: linear-gradient(90deg, transparent, $color-white 2%, $color-white 98%, transparent);
                background-color: $color-white;
                width: 100%;
                height: 6px;
                animation: anim-splash-center-bar-fade-in 2.1s 0.2s forwards ease-in-out;
            }
        }

        .nav {
            padding-top: calc(10px + 1vw);
            position: relative;
            opacity: 0;
            transform: translateY(-200px);
            animation: anim-splash-center-nav-fade-in 1.6s 1.5s forwards ease-out;
            letter-spacing: -0.02em;

            .item {
                opacity: 0.5;
                transition: opacity 0.15s;
            }
            a.item:hover {
                opacity: 1;
            }
        }
    }

    .logo-wrapper {
        //position: absolute;
        //bottom: $unit * 2;
        //left: $unit * 3;
        display: flex;
        align-items: flex-end;
        padding-bottom: calc(10px + 1vw);
                
        @media (max-width: 480px) {
            bottom: auto;
            top: $unit * 2;
        }

        .logo {
            width: 13vw;
            height: 8vw;
            min-width: 18vh;
            min-height: 11vh;
            margin-right: 13vw;
            opacity: 0;
            animation: anim-splash-logo-fade-in 1s 1.1s forwards ease-out;
            line-height: 0;

            @media (max-width: 600px) {
                position: absolute;
                top: -30vh;
                left: -20vw;
            }
    
            svg {
                width: 100%;
                max-height: 100%;
                fill: $color-white;
            }
        }    

        .about {
            @include fluid-type(font-size, 30rem, 128rem, 1.2rem, 1.6rem);
            @include fluid-type(line-height, 30rem, 128rem, 1.4rem, 2rem);
            opacity: 0;
            position: relative;
            top: 2px;
            margin-left: $unit ;
            padding-left: $unit;
            font-weight: 700;
            text-transform: uppercase;
            animation: anim-splash-about-fade-in 0.8s 1.4s forwards ease-out;

            span {
                position: relative;
                top: 3px;
                display: inline-block;
                opacity: 0;
                animation: anim-splash-about-fade-in 0.8s 1.4s forwards ease-out;
                white-space: nowrap;
            }
        }
    }

    .autograph {
        position: fixed;
        bottom: 4vh;
        right: 3vw;
        display: block;
        opacity: 0;
        backface-visibility: hidden;
        animation: anim-splash-desc-fade-in 1.2s 0.9s forwards ease-out;
        
        font-size: 18px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        font-family: $font-lateef;
    }

    .nav-wrapper {
        position: absolute;
        bottom: $unit * 2;
        right: $unit * 3;
        margin-left: 20vw;

        .nav {
            text-align: right;
            opacity: 0;
            animation: anim-splash-nav-fade-in 1.2s 0.9s forwards ease-out;
            padding-right: 10px;

            .category {
                text-transform: uppercase;
                @include font-size(12);
                font-family: Roboto Condensed;
                font-weight: 700;
                opacity: 0.3;
            }

            .item {
                text-shadow: 0 1px 1px #000;
                font-family: "Fira Sans";
                @include font-size(14);
                display: block;
                color: $color-white;
                opacity: 0.85;
                transform: translateZ(0);
            }
            a.item {
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: calc(100% + 10px);
                    width: 1px;
                    height: 100%;
                    background-color: $color-white;
                    opacity: 0.3;
                    transition: opacity 0.3s;
                }
                &:hover:after { opacity: 1; transition: opacity 0.1s; }
            }
            .item + .item {
                margin-left: $unit;
                white-space: nowrap;
            }
        }
    }

    .template-background {
        position: absolute;
        top: 45%;
        left: 30%;
        width: 50vw;
        height: 50vw;
        min-width: 65vh;
        min-height: 65vh;
        transform: translate(-50%, -50%) rotate(-135deg);
        box-shadow: -13px -13px 9px -9px rgba(0, 0, 0, 0.1);

        @media (max-width: 600px) {
            top: 35%;
        }

        .splash-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: contrast(1.5);
        }
    }

    // OLD

    .splash {
        position: fixed;
        top: $splash-border-size;
        left: $splash-border-size;
        width: calc(100% - #{$splash-border-size * 2});
        height: calc(100% - #{$splash-border-size * 2 + $element-border-size});
        background-image: linear-gradient(5deg, rgba($color-purple, 0.2), rgba($color-cyan, 0.2));
        box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        transition: transform 0.2s;
    }

    .splash-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;

        .media {

            //box-shadow: 0 3px 10px -2px rgba($color-black-true, $opacity-shadow);
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        .splash-info {
            position: relative;
            text-align: center;

            .title {
                font-family: Cinzel;
                font-weight: 400;
                @include font-size(16);
            }
        }
    }

    .black-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        opacity: 0;
        pointer-events: none;
        backface-visibility: hidden;
        transition: opacity 0.1s;
    }

    .splash-nav {
        position: absolute;
        left: 50%;
        bottom: 7vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $unit-large;
        @include site-column;
        width: 80%;
        margin-bottom: calc(#{$splash-extra-height} + #{$splash-border-size});
        padding: 0 $column-padding;
        transform: translate(-50%, 0);
        transition: transform 0.1s;

        .title {
            @include font-size(32);
            @include line-height(36);
            text-transform: lowercase;
            color: $color-white;
            opacity: $text-opacity;
        }

        .subtitle {
            @include font-size(14);
            @include line-height(18);
            text-transform: lowercase;
            color: $color-white;
            opacity: $text-opacity;
        }
    }

    .splash-nav-list-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .splash-nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include font(link);

        > strong { font-weight: 400; }
        > span { opacity: 0.7; }
        > .nav-item {
            opacity: 0.7;
            &.is-active {
                opacity: 1;
            }
        }
    }


    .splash-nav-out {
        margin-top: $unit;
        opacity: 0.7;
        &:hover { opacity: 1; }
    }
}