.template-list {
    position: relative;
    z-index: index($layer, "site-content");
    display: flex;
    justify-content: center;

    .flat-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        background-color: $color-bg;
        background-image: linear-gradient(0deg, $color-bg 10%, $color-light-grey 90%);
    }

    .content-container {
        background-color: $color-light-grey;
        box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.5);
    }
}