.sk-input-wrapper {
    input[type="checkbox"] {
        + label {
            width: 1.2em;
            height: 1.2em;
            position: relative;
            top: -0.1em;
            background-color: #fff;
            border: 1px solid #a9a9a9;
        }
        &:checked + label {
            &:before {
                transform: translate(-50%, -50%);
                width: 60%;
                height: 60%;
                background-color: #a9a9a9;
            }
        }
    }
}