.media {
    position: relative;
    overflow: hidden;

    &.is-cinematic {
        &:before {
            content: '';
            display: block;
            padding-bottom: 56.25%;
        }
    }
}