@font-face {
    font-family: "Frygia";
    src: url("/fonts/frygia/frygia_regular_thefontsmaster.com-webfont.woff2") format("woff2"),
        url("/fonts/frygia/frygia_regular_thefontsmaster.com-webfont.woff") format("woff");
}
@font-face {
    font-family: "Frygia";
    src: url("/fonts/frygia/frygia_italic_thefontsmaster.com-webfont.woff2") format("woff2"),
        url("/fonts/frygia/frygia_italic_thefontsmaster.com-webfont.woff") format("woff");
    font-style: italic;
}
@font-face {
    font-family: "Frygia";
    src: url("/fonts/frygia/frygia_bold_thefontsmaster.com-webfont.woff2") format("woff2"),
        url("/fonts/frygia/frygia_bold_thefontsmaster.com-webfont.woff") format("woff");
    font-weight: bold;
}
@font-face {
    font-family: "Frygia";
    src: url("/fonts/frygia/frygia_bold_italic_thefontsmaster.com-webfont.woff2") format("woff2"),
        url("/fonts/frygia/frygia_bold_italic_thefontsmaster.com-webfont.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

$font-heading: "Roboto Condensed", Arial, sans-serif;
$font-body: georgia, serif;
$font-smallcaps: georgia, serif;

$font-roboto-condensed: "Roboto Condensed", Arial, sans-serif;
$font-lateef: 'Lateef', cursive;

$script-heading: "IM Fell DW Pica", serif;
$script-body: "IM Fell DW Pica", serif;
$script-smallcaps: "IM Fell English SC", serif;

$font-size-default: 18;
$line-height-default: 28;

$font-size-small: 12;
$line-height-small: 20;

$fonts: (
    header: (
        _defaults: (
            font-family: $font-heading,
            font-weight: 700,
            line-height: 1.25
        ),
        1: (
            font-size: 34,
        ),
        2: (
            font-size: 26,
        ),
        3: (
            font-size: 20,
        ),
        4: (
            font-family: $font-smallcaps,
            font-size: 18,
            text-transform: lowercase
        ),
        thin: (
            font-size: 34,
            font-weight: 400
        )
    ),
    body: (
        _defaults: (
            font-family: $font-body,
            font-size: 16,
            line-height: 1.5
        ),
        main: (),
        small: (
            font-family: $font-body,
            font-size: 12
        )
    ),
    link: (
        _defaults: (
            font-family: $font-heading,
            text-decoration: none,
            text-decoration-skip: ink,
            outline: none,
            focus: (
                color: $color-link
            )
        ),
        heading: (
        ),
        main: (
            text-decoration: underline,
            hover: (
            )
        )
    )
);

/* Utility mixin 
    Converts a Sass map to a stylesheet. For use with other mixins.
*/
@mixin mapToCss($map) {
    @each $key, $value in $map {
        @if ($key == 'font-size') { @include font-size($value); }
        @else if ($key == 'hover' or $key == 'focus' or $key == 'active' or $key == 'before' or $key == 'after') {
            &:#{$key} {
                @include mapToCss($value);
            }
        }
        @else {
            #{$key}: $value;
        }
    }
}

/* Usage: 
    @include font(header, 1);
   Gives you:
    $fonts -> header -> "_defaults" + "1"
*/
@mixin font($type, $variation: _defaults) {
    $type-default: map-get(map-get($fonts, $type), _defaults);
    $type-variation: map-get(map-get($fonts, $type), $variation);

    /* If no defaults are defined, make an empty map */
    @if ($type-default) { }
    @else {
        $type-default: ()
    }

    @if ($type-variation) {
        /* Merge variation over default values */
        $type-map: map-merge($type-default, $type-variation);

        /* Loop through values and apply custom rules or set the values directly */
        @include mapToCss($type-map)
    }
    @else {
        @warn('Font variation "' + $type + ', ' + $variation + '" not found.');
    }
}
