$unit: 12px !default;

$unit-tiny:  round($unit * 0.25);
$unit-small: round($unit * 0.5);
$unit-large: round($unit * 2);
$unit-huge:  round($unit * 4);

$header-spacing: $unit; // 20px = smallest header font-size
$paragraph-spacing: $unit * 4;
$paragraph-small-spacing: $unit * 2;

$site-max-width: 960px;
$text-max-width: 540px;
$site-min-width: 320px;
$column-padding: $unit * 2;
$column-padding-large: $unit * 4;

$transition-speed-quick: 0.15s;
$transition-speed: 0.2s;
$transition-speed-slow: 0.3s;

// Z-indices (in reverse)
// Usage: z-index: index($layer, "key");
$layer: (
    "site-footer",
    "site-splash-header",
    "site-content",
    "site-default-header"
);