.project-list-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    &:before {
        content: '';
        display: block;
        padding-bottom: 80%;
    }
}

.project-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
    background-color: $color-light-grey;
    padding: 10px;
}
.project-item {
    position: relative;
    color: $color-black;
    width: 100%;
    overflow: hidden;
    padding: 2%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

    &:nth-child(6n) { background-color: rgba(245, 181, 179, 0.8); }
    &:nth-child(6n+1) { background-color: rgba(243, 243, 182, 0.8); }
    &:nth-child(6n+2) { background-color: rgba(190, 242, 182, 0.8); }
    &:nth-child(6n+3) { background-color: rgba(190, 243, 244, 0.8); }
    &:nth-child(6n+4) { background-color: rgba(180, 180, 242, 0.8); }
    &:nth-child(6n+5) { background-color: rgba(246, 182, 242, 0.8); }
    
    &:nth-child(1) {
        grid-row: 1 / span 3;
        grid-column: 1 / span 4;
        z-index: 5;
    }

    &:nth-child(2) {
        grid-row: 3 / span 4;
        grid-column: 1 / span 2;
        z-index: 4;
    }

    &:nth-child(3) {
        grid-row: 3 / span 3;
        grid-column: 3 / span 2;
        z-index: 3;
    }
    
    &:nth-child(4) {
        grid-row: 5 / span 3;
        grid-column: 1 / span 4;
        z-index: 2;
    }

    .project-figure {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        padding: 40px;

        img {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
        }
    }
}