.text {
    > *:first-child { margin-top: 0; }
    > *:last-child { margin-bottom: 0; }
    > .text {
        margin-top: $paragraph-spacing;
    }
}

.text-footnote {
    .hr, .hr-drawn {
        margin-bottom: $unit;
    }

    h4 {
        font-family: IM Fell English SC,serif;
        font-size: 11px;
        font-family: Arial;
        font-weight: 700;
        /* font-size: 1.125rem; */
        line-height: 1.6;
        text-transform: uppercase;
    }

    p, .font-small {
        opacity: 0.7;
    }
}

// Text link support
.text {
    a[href$=".pdf"]:after { content: " (pdf)"; }
    a[href$=".pdf"][data-size]:after { content: " (pdf, " attr(data-size) ")"; }
    
    a[href$=".doc"]:after { content: " (doc)"; }
    a[href$=".doc"][data-size]:after { content: " (doc, " attr(data-size) ")"; }
    
    a[href$=".docx"]:after { content: " (docx)"; }
    a[href$=".docx"][data-size]:after { content: " (docx, " attr(data-size) ")"; }

    a[href$=".txt"]:after { content: " (txt)"; }
    a[href$=".txt"][data-size]:after { content: " (txt, " attr(data-size) ")"; }
        
    a[href$=".jpg"]:after { content: " (jpg)"; }
    a[href$=".jpg"][data-size]:after { content: " (jpg, " attr(data-size) ")"; }
    
    a[href$=".png"]:after { content: " (png)"; }
    a[href$=".png"][data-size]:after { content: " (png, " attr(data-size) ")"; }
    
    a[href$=".gif"]:after { content: " (gif)"; }
    a[href$=".gif"][data-size]:after { content: " (gif, " attr(data-size) ")"; }
    
    a[href$=".zip"]:after { content: " (zip)"; }
    a[href$=".zip"][data-size]:after { content: " (zip, " attr(data-size) ")"; }
}